body {
    font-family: 'Montserrat';font-size: 16px;
    max-width: 1200px;
    margin: auto;
}

/* Start of Buttons */
.button {
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.button-white {
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #333333;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

#hamburger{
    display: none;
}

#learn-more {
    padding: 5px 45px;
}

#get-in-touch {
    padding: 5px 40px;
}
/* End of Buttons */

/* Start of Navbar */
.navbar {
    height: 66px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #E24301;
}
    .navbar a {
        float: left;
        margin: 0px 16px 0px 16px;
    }
        .navbar a img {
            height: 45%;
        }
    .navbar ul {
        list-style-type: none;
        float: right;
        margin: auto;
        margin-inline-end: 16px;
    }
        .navbar ul li {
            float: left;
        }
            .navbar ul li a {
                color: white;
                padding: 16px 0px 7px 0px;
                margin: 0px 16px 6px 16px;
                text-decoration: none;
                border-bottom: solid transparent 3px;
            }
                .navbar ul li a:active {
                    border-bottom: solid white 3px;
                }
                .navbar ul li a:hover {
                    border-bottom: solid white 3px;
                }
/* End of Navbar */

/* Start of Hero */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/skyline.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
    .hero-text {
        width: 65%;
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
        .hero-text h1 {
            font-weight: lighter;
        }
        .hero-text p {
            width: 75%;
        }
/* End of Hero */

/* Start of Banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E24301;
    color: white;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px rgb(155, 53, 10);
}
    .banner p {
        width: 43%;
    }
    .banner a{
        width:10%;
    }
/* End of Banner */

/* Start of Icons */
.container {
    margin-top: 30px;
}

.icon {
    background-color: white;
    color: #333333;
    margin: 16px 0px;
}
    .icon img {
        margin: 5px;
        padding: 5px;
    }
    .icon h3 {
        margin: 5px;
        padding: 5px;
    }
        .icon h3:hover {
            color: #E24301;
        }
    .icon p {
        margin: 5px;
        padding: 5px;
    }
/* End of Icons */

/* Start of Footer */
.footer {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #333333;
    color: white;
    height: 35px;
    white-space: nowrap;
}
    .footer p {
        margin: 0px 16px 0px 16px;
    }
    .footer ul {
        display: flex;
        list-style-type: none;
        float: right;
        margin: auto;
        margin-inline-end: 16px;
    }
        .footer ul img{
            height: 18px;
            margin: 1px 2px 1px 2px;
        }
/* End of Footer */



/* Laptop - 4k */
@media screen and (min-width: 1025px) {
    /* Start of Icons */
    .container {
        display: flex;
        flex-wrap: nowrap;
    }

    #architecture {
        order: 1;
    }

    #maintenance {
        order: 2;
    }

    #audits{
        order: 3;
    }
    /* End of Icons */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Start of Navbar */
    #navbar-items {
        display: none;
    }
    #hamburger {
        margin: auto;
        margin-inline-end: 16px;
        display: block;
    }
        #hamburger div{
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
        }
    /* End of Navbar */
    
    /* Start of Hero */
    .hero-text {
        width: 85%;
    }
        .hero-text p {
            width: 100%;
        }
    /* End of Hero */

    /* Start of Banner */
    .banner p {
        width: 37%;
        text-align: left;
        margin-right: 66px;
    }
    .banner a {
        width: 16%;
    }
    /* End of Banner */

    /* Start of Icons */
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    #architecture {
        order: 2;
        width: 50%;
    }

    #maintenance {
        order: 1;
        flex-basis: 100%;
    }

    #audits{
        order: 3;
        width: 50%;
    }
    /* End of Icons */
}

/* Mobile */
@media screen and (max-width: 767px) {
    /* Start of Navbar */
    #navbar-items {
        display: none;
    }
    #hamburger {
        margin: auto;
        margin-inline-end: 16px;
        display: block;
    }
        #hamburger div{
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
        }
    /* End of Navbar */

    /* Start of Buttons */
    #learn-more {
        width: 100%;
        padding: 5px 0px 5px 0px;
        margin: 0px 0px 5px -1px;
    }
    
    #get-in-touch {
        width: 100%;
        padding: 5px 0px 5px 0px;
        margin: 5px 0px 0px -1px;
    }
    /* End of Buttons */

    /* Start of Hero */
    .hero-image {
        height: 40%;
    }
        .hero-text {
            width: 75%;
            text-align: center;
        }
            .hero-text p {
                width: 100%;
            }
    /* End of Hero */

    /* Start of Banner */
    .banner {
        flex-wrap: wrap;
        height: 150px;
    }
    .banner p {
        width: 70%;
    }
    .banner a {
        width: 45%;
        margin-top: -45px;
    }
    /* End of Banner */

    /* Start of Icons */
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    #architecture {
        order: 2;
    }

    #maintenance {
        order: 3;
    }

    #audits{
        order: 1;
    }
    /* End of Icons */
}